In [10]:
import pandas as pd

In [11]:
orders = pd.read_csv('../Curso_IA/Amazon.csv')

In [12]:
orders.head(4)

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164

In [16]:
orders.tail(4)

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
99996,ORD0099997,2021-11-24,CUST031254,Sunita Kapoor,P00046,Car Charger,Sports & Outdoors,Apex,5,449.30,0.00,179.72,6.07,2432.29,Credit Card,Delivered,San Jose,CA,United States,SELL01449
99997,ORD0099998,2023-04-29,CUST012579,Aman Gupta,P00030,Dress Shirt,Sports & Outdoors,BrightLux,4,232.40,0.00,74.37,12.43,1016.40,Cash on Delivery,Delivered,Indianapolis,IN,United States,SELL00028
99998,ORD0099999,2021-11-01,CUST026243,Simran Gupta,P00046,Car Charger,Sports & Outdoors,HomeEase,1,294.05,0.00,23.52,13.09,330.66,Debit Card,Delivered,Charlotte,NC,United States,SELL00324
99999,ORD0100000,2021-12-04,CUST029492,Sunita Reddy,P00019,LED Desk Lamp,Home & Kitchen,CoreTech,5,166.70,0.05,63.35,3.34,858.52,Debit Card,Delivered,New York,NY,United States,SELL00761

In [13]:
orders.shape

(100000, 20)

orders.index

In [46]:
orders.columns

Index(['OrderID', 'OrderDate', 'CustomerID', 'CustomerName', 'ProductID',
       'ProductName', 'Category', 'Brand', 'Quantity', 'UnitPrice', 'Discount',
       'Tax', 'ShippingCost', 'TotalAmount', 'PaymentMethod', 'OrderStatus',
       'City', 'State', 'Country', 'SellerID', 'DiscountExtra', 'Incorrecta'],
      dtype='object')

In [49]:
orders.columns[1:4]

Index(['OrderDate', 'CustomerID', 'CustomerName'], dtype='object')

In [53]:
orders[orders.columns[8:14]]

       Quantity  UnitPrice  Discount     Tax  ShippingCost  TotalAmount
0             3     106.59      0.00    0.00          0.09       319.86
1             1     251.37      0.05   19.10          1.74       259.64
2             3      35.03      0.10    7.57          5.91       108.06
3             5      33.58      0.15   11.42          5.53       159.66
4             2     515.64      0.25   38.67          9.23       821.36
...         ...        ...       ...     ...           ...          ...
99995         2     492.34      0.00   78.77          2.75      1066.20
99996         5     449.30      0.00  179.72          6.07      2432.29
99997         4     232.40      0.00   74.37         12.43      1016.40
99998         1     294.05      0.00   23.52         13.09       330.66
99999         5     166.70      0.05   63.35          3.34       858.52

[100000 rows x 6 columns]

In [14]:
orders.dtypes

OrderID           object
OrderDate         object
CustomerID        object
CustomerName      object
ProductID         object
ProductName       object
Category          object
Brand             object
Quantity           int64
UnitPrice        float64
Discount         float64
Tax              float64
ShippingCost     float64
TotalAmount      float64
PaymentMethod     object
OrderStatus       object
City              object
State             object
Country           object
SellerID          object
dtype: object

In [17]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   OrderID        100000 non-null  object
 1   OrderDate      100000 non-null  object
 2   CustomerID     100000 non-null  object
 3   CustomerName   100000 non-null  object
 4   ProductID      100000 non-null  object
 5   ProductName    100000 non-null  object
 6   Category       100000 non-null  object
 7   Brand          100000 non-null  object
 8   Quantity       100000 non-null  int64
 9   UnitPrice      100000 non-null  float64
 10  Discount       100000 non-null  float64
 11  Tax            100000 non-null  float64
 12  ShippingCost   100000 non-null  float64
 13  TotalAmount    100000 non-null  float64
 14  PaymentMethod  100000 non-null  object
 15  OrderStatus    100000 non-null  object
 16  City           100000 non-null  object
 17  State          100000 non-null  object
 18  Country        100000 non-null  object
 19  SellerID       100000 non-null  object
dtypes: float64(5), int64(1), object(14)
memory usage: 15.3+ MB

In [18]:
orders.describe()

,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,3.001400,302.905748,0.074226,68.468902,7.406660,918.256479
std,1.413548,171.840797,0.082583,74.131180,4.324057,724.508332
min,1.000000,5.000000,0.000000,0.000000,0.000000,4.270000
25%,2.000000,154.190000,0.000000,15.920000,3.680000,340.890000
50%,3.000000,303.070000,0.050000,45.250000,7.300000,714.315000
75%,4.000000,451.500000,0.100000,96.060000,11.150000,1349.765000
max,5.000000,599.990000,0.300000,538.460000,15.000000,3534.980000

In [19]:
orders.head(3)

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908

In [21]:
orders['PaymentMethod'].value_counts()

PaymentMethod
Credit Card         35038
Debit Card          20024
UPI                 15066
Amazon Pay          15017
Net Banking          9927
Cash on Delivery     4928
Name: count, dtype: int64

In [22]:
orders['State'].value_counts()

State
TX    24896
CA    19921
NC     5110
FL     5107
WA     5039
OH     5021
DC     5021
IL     5020
PA     5014
CO     4991
IN     4970
NY     4949
AZ     4941
Name: count, dtype: int64

In [23]:
orders.head(2)

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,0.00,0.0,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.1,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298

In [24]:
orders['DiscountExtra'] = (orders['Quantity'] *  orders['UnitPrice']) * 0.75 / 100

In [28]:
orders.head(3)

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,...,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID,DiscountExtra
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,...,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967,2.398275
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,...,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298,1.885275
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,...,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908,0.788175

In [29]:
orders['UnitPrice'].sum()

np.float64(30290574.84)

In [30]:
orders['UnitPrice'].max()

np.float64(599.99)

In [31]:
orders['UnitPrice'].min()

np.float64(5.0)

In [34]:
orders.sort_values('TotalAmount').head(8)

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,...,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID,DiscountExtra
86771,ORD0086772,2022-02-03,CUST043262,Aarav Singh,P00029,T-Shirt,Sports & Outdoors,FitLife,1,5.57,...,0.31,0.06,4.27,Net Banking,Delivered,Jacksonville,FL,United States,SELL01896,0.041775
68176,ORD0068177,2020-03-29,CUST004688,Mohit Kapoor,P00039,Graphic Tablet,Clothing,Zenith,1,5.26,...,0.76,0.62,5.59,Amazon Pay,Delivered,Austin,TX,United States,SELL00513,0.039450
4730,ORD0004731,2023-07-10,CUST043142,Karan Mehta,P00007,Mechanical Keyboard,Books,NexPro,1,6.25,...,0.00,1.19,6.19,Debit Card,Delivered,San Jose,CA,India,SELL01655,0.046875
99805,ORD0099806,2024-03-29,CUST017538,Sneha Gupta,P00029,T-Shirt,Books,KiddoFun,1,6.08,...,0.29,0.12,6.19,UPI,Shipped,Denver,CO,United States,SELL01098,0.045600
38172,ORD0038173,2022-06-18,CUST025567,Pooja Kumar,P00040,Microphone,Toys & Games,ReadMore,1,5.89,...,0.47,0.05,6.41,Amazon Pay,Delivered,Charlotte,NC,United States,SELL01488,0.044175
40270,ORD0040271,2021-12-04,CUST035371,Vihaan Patel,P00047,Memory Card 128GB,Toys & Games,NexPro,1,5.78,...,0.44,0.59,6.52,Cash on Delivery,Delivered,Indianapolis,IN,United States,SELL01042,0.043350
37279,ORD0037280,2021-04-01,CUST031790,Pooja Patel,P00001,Wireless Earbuds,Home & Kitchen,ReadMore,1,5.86,...,0.29,0.42,6.57,UPI,Delivered,Columbus,OH,United States,SELL01067,0.043950
36532,ORD0036533,2021-09-10,CUST030805,Anjali Patel,P00025,Running Shoes,Electronics,HomeEase,1,6.35,...,0.00,0.29,6.64,Debit Card,Delivered,Houston,TX,United States,SELL01997,0.047625

In [35]:
orders.sort_values('TotalAmount', ascending=False).head(8)

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,...,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID,DiscountExtra
48442,ORD0048443,2020-01-12,CUST010794,Anjali Patel,P00033,Puzzle 1000pc,Home & Kitchen,UrbanStyle,5,598.29,...,538.46,5.07,3534.98,Amazon Pay,Shipped,San Diego,CA,India,SELL00471,22.435875
81886,ORD0081887,2020-09-26,CUST031626,Vivaan Joshi,P00048,Wireless Charger,Toys & Games,HomeEase,5,596.47,...,536.82,2.68,3521.85,UPI,Shipped,Denver,CO,United States,SELL00354,22.367625
4196,ORD0004197,2021-02-22,CUST022868,Kabir Gupta,P00029,T-Shirt,Home & Kitchen,Zenith,5,595.26,...,535.73,2.21,3514.24,Credit Card,Delivered,San Francisco,CA,United States,SELL00601,22.322250
1929,ORD0001930,2023-08-18,CUST031209,Pooja Patel,P00025,Running Shoes,Books,KiddoFun,5,594.85,...,535.36,4.04,3513.65,UPI,Delivered,Phoenix,AZ,United Kingdom,SELL00955,22.306875
58204,ORD0058205,2021-10-19,CUST033287,Priya Gupta,P00031,Kids Toy Car,Home & Kitchen,FitLife,5,594.46,...,535.01,5.74,3513.05,UPI,Delivered,San Antonio,TX,United States,SELL01072,22.292250
46764,ORD0046765,2024-04-13,CUST044400,Priya Kapoor,P00034,Desk Organizer,Home & Kitchen,FitLife,5,594.82,...,535.34,2.51,3511.95,Net Banking,Shipped,Los Angeles,CA,United States,SELL01587,22.305750
40146,ORD0040147,2024-10-07,CUST001991,Pooja Mehta,P00002,Bluetooth Speaker,Books,NexPro,5,593.30,...,533.97,9.76,3510.23,Cash on Delivery,Delivered,Los Angeles,CA,United States,SELL01921,22.248750
20578,ORD0020579,2023-09-24,CUST016754,Sneha Sharma,P00015,Instant Pot,Sports & Outdoors,Apex,5,593.94,...,534.55,5.05,3509.30,Amazon Pay,Delivered,San Diego,CA,United States,SELL00531,22.272750

In [37]:
orders.sort_values('CustomerName', ascending=True, key=lambda x: x.str.lower())

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,...,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID,DiscountExtra
19206,ORD0019207,2021-02-16,CUST021780,Aarav Gupta,P00005,Laptop Sleeve,Electronics,HomeEase,4,14.47,...,4.40,0.27,59.66,UPI,Shipped,San Diego,CA,Australia,SELL01165,0.434100
18949,ORD0018950,2023-07-05,CUST026593,Aarav Gupta,P00040,Microphone,Toys & Games,KiddoFun,2,530.03,...,127.21,11.73,1199.00,Net Banking,Delivered,Fort Worth,TX,United States,SELL00908,7.950450
22248,ORD0022249,2023-07-23,CUST039229,Aarav Gupta,P00025,Running Shoes,Home & Kitchen,BrightLux,2,108.58,...,13.03,0.19,176.09,Amazon Pay,Shipped,San Antonio,TX,United States,SELL01240,1.628700
63767,ORD0063768,2021-09-20,CUST030976,Aarav Gupta,P00022,Water Bottle,Home & Kitchen,UrbanStyle,3,129.04,...,19.36,6.68,413.16,Debit Card,Delivered,New York,NY,United States,SELL00689,2.903400
45936,ORD0045937,2022-11-13,CUST014123,Aarav Gupta,P00019,LED Desk Lamp,Sports & Outdoors,CoreTech,5,589.90,...,504.36,13.33,3319.72,Debit Card,Delivered,Washington,DC,United States,SELL00314,22.121250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58480,ORD0058481,2022-08-15,CUST046251,Vivaan Verma,P00018,Vacuum Cleaner,Toys & Games,NexPro,4,328.87,...,99.98,3.76,1353.45,UPI,Returned,San Francisco,CA,United States,SELL00169,9.866100
29252,ORD0029253,2022-12-19,CUST006224,Vivaan Verma,P00025,Running Shoes,Books,CoreTech,3,216.76,...,49.42,7.18,674.37,UPI,Delivered,Philadelphia,PA,United States,SELL01266,4.877100
58774,ORD0058775,2023-01-14,CUST002835,Vivaan Verma,P00031,Kids Toy Car,Clothing,KiddoFun,3,447.75,...,67.16,9.55,1419.96,Credit Card,Delivered,Philadelphia,PA,United States,SELL01159,10.074375
5117,ORD0005118,2022-07-12,CUST003649,Vivaan Verma,P00031,Kids Toy Car,Sports & Outdoors,ReadMore,2,6.98,...,1.88,5.30,17.65,Debit Card,Delivered,Fort Worth,TX,India,SELL00324,0.104700
41539,ORD0041540,2023-02-04,CUST024900,Vivaan Verma,P00005,Laptop Sleeve,Toys & Games,UrbanStyle,4,392.65,...,78.53,6.14,1655.27,Net Banking,Delivered,Seattle,WA,India,SELL01195,11.779500

In [38]:
orders['Incorrecta'] = 70

In [39]:
orders

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,...,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID,DiscountExtra,Incorrecta
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,...,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967,2.398275,70
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,...,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298,1.885275,70
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,...,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908,0.788175,70
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,...,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164,1.259250,70
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2,515.64,...,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411,7.734600,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD0099996,2023-03-07,CUST001356,Karan Joshi,P00047,Memory Card 128GB,Electronics,Apex,2,492.34,...,2.75,1066.20,UPI,Delivered,Jacksonville,FL,India,SELL00041,7.385100,70
99996,ORD0099997,2021-11-24,CUST031254,Sunita Kapoor,P00046,Car Charger,Sports & Outdoors,Apex,5,449.30,...,6.07,2432.29,Credit Card,Delivered,San Jose,CA,United States,SELL01449,16.848750,70
99997,ORD0099998,2023-04-29,CUST012579,Aman Gupta,P00030,Dress Shirt,Sports & Outdoors,BrightLux,4,232.40,...,12.43,1016.40,Cash on Delivery,Delivered,Indianapolis,IN,United States,SELL00028,6.972000,70
99998,ORD0099999,2021-11-01,CUST026243,Simran Gupta,P00046,Car Charger,Sports & Outdoors,HomeEase,1,294.05,...,13.09,330.66,Debit Card,Delivered,Charlotte,NC,United States,SELL00324,2.205375,70
99999,ORD0100000,2021-12-04,CUST029492,Sunita Reddy,P00019,LED Desk Lamp,Home & Kitchen,CoreTech,5,166.70,...,3.34,858.52,Debit Card,Delivered,New York,NY,United States,SELL00761,6.251250,70

In [40]:
orders.drop(columns=['Incorrecta'])

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,...,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID,DiscountExtra
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,...,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967,2.398275
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,...,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298,1.885275
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,...,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908,0.788175
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,...,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164,1.259250
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2,515.64,...,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411,7.734600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD0099996,2023-03-07,CUST001356,Karan Joshi,P00047,Memory Card 128GB,Electronics,Apex,2,492.34,...,78.77,2.75,1066.20,UPI,Delivered,Jacksonville,FL,India,SELL00041,7.385100
99996,ORD0099997,2021-11-24,CUST031254,Sunita Kapoor,P00046,Car Charger,Sports & Outdoors,Apex,5,449.30,...,179.72,6.07,2432.29,Credit Card,Delivered,San Jose,CA,United States,SELL01449,16.848750
99997,ORD0099998,2023-04-29,CUST012579,Aman Gupta,P00030,Dress Shirt,Sports & Outdoors,BrightLux,4,232.40,...,74.37,12.43,1016.40,Cash on Delivery,Delivered,Indianapolis,IN,United States,SELL00028,6.972000
99998,ORD0099999,2021-11-01,CUST026243,Simran Gupta,P00046,Car Charger,Sports & Outdoors,HomeEase,1,294.05,...,23.52,13.09,330.66,Debit Card,Delivered,Charlotte,NC,United States,SELL00324,2.205375
99999,ORD0100000,2021-12-04,CUST029492,Sunita Reddy,P00019,LED Desk Lamp,Home & Kitchen,CoreTech,5,166.70,...,63.35,3.34,858.52,Debit Card,Delivered,New York,NY,United States,SELL00761,6.251250

In [57]:
orders = orders.drop(columns=['Incorrecta'])

In [60]:
orders.head(6)

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,...,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID,DiscountExtra
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,...,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967,2.398275
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,...,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298,1.885275
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,...,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908,0.788175
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,...,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164,1.259250
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2,515.64,...,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411,7.734600
5,ORD0000006,2022-12-31,CUST042705,Karan Sharma,P00023,Cookware Set,Books,ReadMore,4,449.73,...,215.87,2.74,2017.53,UPI,Delivered,Los Angeles,CA,United States,SELL01494,13.491900

In [54]:
orders_new = orders.head(100)

In [56]:
orders_new.to_csv('amazon_orders.csv', index=False)

In [61]:
orders['ProductName'].value_counts()

ProductName
LED Desk Lamp                  2098
Water Bottle                   2088
Cookware Set                   2058
Electric Kettle                2054
Router                         2054
Yoga Mat                       2041
Board Game                     2039
Memory Card 128GB              2039
Smart Light Bulb               2036
Mechanical Keyboard            2034
Wireless Charger               2034
Microphone                     2034
Noise Cancelling Headphones    2031
Portable SSD 1TB               2030
Drone Mini                     2026
Desk Organizer                 2026
Action Camera                  2024
Office Chair                   2018
Vacuum Cleaner                 2017
Instant Pot                    2016
Webcam Full HD                 2013
Gaming Mouse                   2010
Wireless Earbuds               2008
Air Fryer                      2007
Dress Shirt                    2007
4K Monitor                     2006
Kids Toy Car                   2004
Running Shoes                  2002
HDMI Cable 2m                  2002
Laptop Sleeve                  1996
Phone Tripod                   1996
Smartwatch                     1989
Smartphone Case                1989
Graphic Tablet                 1981
T-Shirt                        1978
Projector Mini                 1976
External HDD 2TB               1975
Jeans                          1969
Power Bank 20000mAh            1966
Puzzle 1000pc                  1965
Novel Bestseller               1962
USB-C Charger                  1958
Winter Jacket                  1954
Sunglasses                     1952
Fitness Band                   1943
Desk Plant                     1941
Car Charger                    1917
Children's Book                1914
Bluetooth Speaker              1913
Backpack                       1910
Name: count, dtype: int64